///* ========================================================================
//   #IMAGE FIT
//   ======================================================================== */

.u-image__fit {
    height: 100%;
    width: 100%;
    object-fit: cover;
}